@font-face {
    font-family: 'Rubik-Regular';
    src: url('/public/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('/public/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('/public/fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('/public/fonts/GloriaHallelujah.ttf');
}

h1, h2, h3 ,h4, h5, h6 {
    font-family: 'GloriaHallelujah'
}

.title {
    font-family: 'Rubik-Medium'
}