@font-face {
    font-family: 'Rubik-Regular';
    src: url('/public/fonts/Rubik-Regular.ttf');
}

@font-face {
    font-family: 'Rubik-Medium';
    src: url('/public/fonts/Rubik-Medium.ttf');
}

@font-face {
    font-family: 'Rubik-Bold';
    src: url('/public/fonts/Rubik-Bold.ttf');
}

@font-face {
    font-family: 'GloriaHallelujah';
    src: url('/public/fonts/GloriaHallelujah.ttf');
}

@font-face {
    font-family: 'Kanit-Medium';
    src: url('/public/fonts/Kanit-Medium.ttf');
}

@font-face {
    font-family: 'Kanit-Bold';
    src: url('/public/fonts/Kanit-Bold.ttf');
}

@font-face {
    font-family: 'Kanit-Regular';
    src: url('/public/fonts/Kanit-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Kanit-Regular'
}

.title {
    font-family: 'Kanit-Regular'
}